.learning-property {

    &.border-small .agent-img-container {
        border:1px solid $secondary;
    }
    &.border-medium .agent-img-container {
        border:3px solid $secondary;
    }
    &.border-large .agent-img-container {
        border:5px solid $secondary;
    }
    &.border-extra-large .agent-img-container {
        border:10px solid $secondary;
    }

    &.company-hidden .company-name {
        display:none;
    }


}

.object-fit{
    width: 150px;
    height: auto;
}